* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jokeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(./assets/jokeBack.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jokeBox {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: #f4f4f4;
    /* width: 400px; */
}

h1 {
    margin-bottom: 15px;
}

.setup {
    margin: 15px 0;
}

.punchline {
    margin: 10px 0;
    font-weight: bold;
}

button {
    margin: 8px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.hidden {
    display:none;
}